<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/robots">All Robots</a></li>
  <li><a href="/robots/new">Add New Robot</a></li>
  <li class="active">Dashboard</a></li>
</ol>

<div class="container">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><h5>Robots Average Age</h5></li>
      <li class="list-group-item"><%= @average_age %></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><h5>Robots By Department:</h5></li>
        <li class="list-group-item">
          <% @department_count.each do |item| %>
          <table class="table-condensed">
            <tr>
              <td><%= item.first.capitalize  %></td>
              <td><%= item.last  %></td>
            </tr>
          </br>
          <% end %>
        </table>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><h5>Robots By City:</h5></li>
        <li class="list-group-item">
          <% @city_count.each do |item| %>
          <table class="table-condensed">
            <tr>
              <td><%= item.first.capitalize  %></td>
              <td><%= item.last  %></td>
            </tr>
          </br>
          <% end %>
        </table>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><h5>Robots By State:</h5></li>
        <li class="list-group-item">
          <% @state_count.each do |item| %>
          <table class="table-condensed">
            <tr>
              <td><%= item.first.upcase  %></td>
              <td><%= item.last  %></td>
            </tr>
          </br>
          <% end %>
        </table>
        </li>
      </ul>
    </div>

  </div>
</div>
