<div class="container">

  <h3>Robots Average Age: <%= @average_age %></h3>
  <h3>Robots Average Age: <%= @average_age %></h3>
  <h3>Robots By Department: <%= @department_count %></h3>
  <h3>Robots By City: <%= @city_count %></h3>
  <h3>Robots By State: <%= @state_count %></h3>

</div>
