<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/robots">All Robots</a></li>
  <li><a href="/robots/new">Add New Robot</a></li>
  <li class="active">Dashboard</a></li>
</ol>


  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Robots Average Age
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <%= @average_age %> years
        </div>
      </div>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Robots Hired By Year
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <% @hired_by_year.each do |item| %>
          <table class="table-condensed">
            <tr>
              <td><%= item.first %> =></td>
              <td><%= item.last  %></td>
            </tr>
          </br>
        <% end %>
        </table>
      </div>
    </div>
  </div>

</div>


<div class="container">

  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><h5>Robots By Department:</h5></li>
        <li class="list-group-item">
          <% @department_count.each do |item| %>
          <table class="table-condensed">
            <tr>
              <td><%= item.first.capitalize  %></td>
              <td><%= item.last  %></td>
            </tr>
          </br>
          <% end %>
        </table>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><h5>Robots By City:</h5></li>
        <li class="list-group-item">
          <% @city_count.each do |item| %>
          <table class="table-condensed">
            <tr>
              <td><%= item.first.capitalize  %></td>
              <td><%= item.last  %></td>
            </tr>
          </br>
          <% end %>
        </table>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item"><h5>Robots By State:</h5></li>
        <li class="list-group-item">
          <% @state_count.each do |item| %>
          <table class="table-condensed">
            <tr>
              <td><%= item.first.upcase  %></td>
              <td><%= item.last  %></td>
            </tr>
          </br>
          <% end %>
        </table>
        </li>
      </ul>
    </div>
  </div>
</div>
